{
  "plugins": [
    "meteor"
  ],
  "extends": [
    "plugin:meteor/recommended",
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "meteor": true
  },
  "settings": {
    "import/resolver": "meteor"
  },
  "rules": {
    "meteor/eventmap-params": [
      2, { "templateInstanceParamName": "template" }
    ],
    "import/no-unresolved": [
      2, { "ignore": ["^meteor/"] }
    ],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/jsx-indent": [2, 4],
    "indent": ["error", 4],
    "arrow-body-style": [0],
    "max-len": ["error", 120],
    "new-cap": ["error", { "capIsNewExceptions": ["Radium"] }],
    "react/jsx-closing-bracket-location": [1, { "selfClosing": "after-props", "nonEmpty": "after-props"}],
    "react/prefer-stateless-function": [0],
    "react/no-multi-comp": [0]
  }
}
